body
{
    margin: 0;
    padding: 0;
}
.text-column {
    margin: 20px 0;
}
h3
{
    font-weight: 800;
}
p{
    font-weight: 700;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:  #A0978B;
}
i {
    transition: transform 0.5s ease; 

}

i:hover {
    transform: rotateY(180deg); 
}

.icon-link {
    text-decoration: none; 
    color: inherit; 
}

.icon-link:hover {
    color: #AA9077; 
}
.iconbox
{
    
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 15px;
    border: 5px solid #AA9077;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}
a button:hover {
    /* text-decoration: underline;  */
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
}
.nav-link:hover {
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
}
button:hover
{
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
}
.shopnow
{
    background-color: #AA9077;
    border-radius: 20px;
    border-color: #AA9077;
    color: whitesmoke;
    border-style: none;
    width: 200px;
    height: 40px;
    font-family:cursive;
    font-size: larger;
}
.main-image {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
   /* margin-left: 80px; */
}
.t1
{
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:  #A0978B;
   margin: 0 0 0 0;
}
.button-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align text and button to the start (left) */
}
.custom-button {
    background-color: #AA9077;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    width: 200px;
    height: 40px;
    font-family: cursive;
    display: block;
    /* margin-bottom: 10px; */
   
}
hr{
    border: 1.5px solid #000000;
    opacity: 1; 
    
}
.jewelry-description
{
    width: 300px;
     
      color:brown;
    font-size: large;
    font-weight: 500;
    font-family: cursive;
}
.card {
    background-color: #D9D6CE;
    color:brown;   
     border-color: #AA9077;
    margin-bottom: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
    border-radius: 100px;
}
.card-text
{
    font-size: large;
}
.card-img-top img {
    max-width: 100%;
    height: auto;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.hr2
{
    border-radius: 10px;
    border: 3.5px solid #AA9077;
}
.hr-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.hr3 {
    width: 35%; 
    border: 2.5px solid black;
    border-radius: 10px;
}
.contact-container{
    display: flex;
    justify-content: center; 
    align-items: center;    
    

}
#ABOUT
{
    text-align: center; 
}
#Contact
{
    text-align: center;
}
.copyright
{
    align-items: center;
}
.iconbox-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto; 
}
.copy-container
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto; 

}
@media (max-width: 1274px) {
    .main-image {
        transform: translateX(50px); 
    }
    .t1
    {
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 15px  !important;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       color:  #A0978B;
   
    }
    .hr3 {
        width: 45%; 
        border: 2.5px solid black;
        border-radius: 10px;
    }
    
}
@media(max-width: 768px)
{
#p2
{
    margin-top: 15px;
}
/* #p4
{

    width: 300px;
    height: 580px;
} */
 .card
 {
    margin-top: 10px;
 }

.hr3 {
    width: 100%; 
    border: 2.5px solid black;
    border-radius: 10px;
}
}